@font-face {
  font-family: 'Gotham-Bold';
  src: url('../font/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Gotham-Bold.otf')  format('opentype'),
       url('../font/Gotham-Bold.woff') format('woff'),
       url('../font/Gotham-Bold.ttf')  format('truetype'),
       url('../font/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('../font/Gotham-Book.otf')  format('opentype'),
       url('../font/Gotham-Book.woff') format('woff'),
       url('../font/Gotham-Book.ttf')  format('truetype'),
       url('../font/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}