@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?72653103");
  src: url("../font/fontello.eot?72653103#iefix") format("embedded-opentype"), url("../font/fontello.woff2?72653103") format("woff2"), url("../font/fontello.woff?72653103") format("woff"), url("../font/fontello.ttf?72653103") format("truetype"), url("../font/fontello.svg?72653103#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?72653103#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-down-open:before {
  content: '\e800'; }

/* '' */
.icon-edit:before {
  content: '\e801'; }

/* '' */
.icon-search:before {
  content: '\e802'; }

/* '' */
.icon-twitter:before {
  content: '\f099'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-linkedin:before {
  content: '\f0e1'; }

/* '' */
.icon-comment-empty:before {
  content: '\f0e5'; }

/* '' */
.icon-skype:before {
  content: '\f17e'; }

/* '' */
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../font/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Gotham-Bold.otf") format("opentype"), url("../font/Gotham-Bold.woff") format("woff"), url("../font/Gotham-Bold.ttf") format("truetype"), url("../font/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../font/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../font/Gotham-Book.otf") format("opentype"), url("../font/Gotham-Book.woff") format("woff"), url("../font/Gotham-Book.ttf") format("truetype"), url("../font/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0; }

.container-fluid {
  padding: 0; }

body {
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham-Bold";
  font-size: 152px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

h2 {
  font-size: 24px; }

p {
  font-family: "Gotham-Book";
  font-size: 15px; }

.header {
  background: url("../img/header_bg.jpg");
  -webkit-background-size: cover;
          background-size: cover; }
  .header__jumbotron {
    padding-top: 274px;
    text-align: center;
    padding-bottom: 100px; }
  .header__desc {
    color: #11749e;
    letter-spacing: 18px;
    padding-bottom: 117px; }
  .header__scroll {
    text-transform: none;
    padding-bottom: 24px; }
  .header__container {
    border-bottom: 1px solid #7a7a7a; }
  .header__btn {
    font-size: 24px;
    padding: 24px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: transparent;
    color: #ffffff; }
    .header__btn:focus {
      outline: 0; }

.navbar-nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 30px;
  margin-top: 46px; }
  .navbar-nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #11749e;
    -webkit-transform: translateY(39px) scale(0);
        -ms-transform: translateY(39px) scale(0);
            transform: translateY(39px) scale(0);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .navbar-nav a:hover::after {
    -webkit-transform: translateY(39px) scale(1);
        -ms-transform: translateY(39px) scale(1);
            transform: translateY(39px) scale(1); }

.navbar-nav__item {
  margin-left: 30px; }

.news__left, .news__right {
  padding: 0 30px !important;
  background-color: #222222;
  text-align: left; }
  .news__left__info, .news__right__info {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -56px;
    padding-top: 83px; }
    .news__left__info li, .news__right__info li {
      margin-left: 10px;
      padding: 0 10px;
      border-left: 1px solid #ffffff; }
    .news__left__info li:first-child, .news__right__info li:first-child {
      border: none; }
  .news__left h4, .news__right h4 {
    font-size: 25px;
    text-align: left; }

.news__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }

.news__right {
  background-color: #f3f3f3;
  color: #222222; }
  .news__right h4 {
    color: #222222; }
  .news__right__info li {
    border-left: 1px solid #222222; }

.features, .blog, .team, .reviews {
  background-color: #11749e;
  position: relative;
  padding-bottom: 60px; }
  .features__title, .blog__title, .team__header, .response__title {
    padding-top: 177px;
    padding-bottom: 140px;
    font-size: 37px;
    position: relative;
    z-index: 1; }
  .features__backtext, .blog__backtext, .team__backtext, .response__backtext {
    display: block;
    position: absolute;
    top: 48px;
    left: 41.5%;
    z-index: 0;
    margin-right: 100px;
    font-size: 247px;
    color: rgba(255, 255, 255, 0.2);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; }
  .features__feature {
    text-align: center; }

.feature__title, .blog-item__header, .team-item__header {
  font-size: 18px;
  padding-top: 48px; }

.feature__icon {
  font-size: 48px;
  padding: 36px;
  background-color: #1e81ab;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #ffffff; }

.blog, .team {
  background-color: #ffffff;
  color: #222222; }
  .blog__title, .team__header, .response__title {
    color: #222222;
    padding-bottom: 70px; }
  .blog__backtext, .team__backtext, .response__backtext {
    color: rgba(34, 34, 34, 0.2);
    left: 44%; }
  .blog__desc, .team__desc {
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px; }
  .blog-item__header, .team-item__header {
    color: #11749e;
    font-size: 16px; }
  .blog-item__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; }

.reviews {
  padding-top: 40px; }
  .reviews__icon {
    font-size: 60px;
    padding-right: 10px; }

.application {
  background: url("../img/app-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left; }
  .application__header {
    font-size: 24px;
    padding-top: 140px;
    padding-bottom: 20px;
    text-align: left; }
  .application__info {
    padding: 0 40px; }
  .application__image {
    width: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    height: auto; }
  .application-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .application-list__item, .application-list__item_second, .application-list__item_third {
      background-color: #11749e;
      padding: 10px 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: 'Gotham-Bold', sans-serif;
      width: 80%; }
      .application-list__item_second {
        width: 85%; }
      .application-list__item_third {
        width: 90%; }

.team {
  position: relative; }
  .team__backtext {
    color: rgba(34, 34, 34, 0.2);
    left: 44%; }
  .team__header {
    color: #222222;
    padding-bottom: 70px; }
  .team-item__title {
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    width: 216px;
    bottom: -10%;
    left: 20px; }
    .team-item__title p {
      margin-top: -10px; }
  .team-item__header {
    padding: 10px 40px; }

.response {
  background: url("../img/submit-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left; }
  .response__backtext {
    color: rgba(255, 255, 255, 0.2); }
  .response__title {
    color: #ffffff; }
  .response__form {
    padding-top: 40px; }
    .response__form__input, .response__form__input_message, .response__form__input_last {
      outline: 0;
      background-color: transparent;
      -webkit-border-radius: 0;
              border-radius: 0;
      padding: 10px;
      width: 348px;
      margin-right: 28px;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-size: 15px; }
      .response__form__input::-webkit-input-placeholder, .response__form__input_message::-webkit-input-placeholder, .response__form__input_last::-webkit-input-placeholder {
        color: #ffffff; }
      .response__form__input:-moz-placeholder, .response__form__input_message:-moz-placeholder, .response__form__input_last:-moz-placeholder {
        color: #ffffff; }
      .response__form__input::-moz-placeholder, .response__form__input_message::-moz-placeholder, .response__form__input_last::-moz-placeholder {
        color: #ffffff; }
      .response__form__input:-ms-input-placeholder, .response__form__input_message:-ms-input-placeholder, .response__form__input_last:-ms-input-placeholder {
        color: #ffffff; }
      .response__form__input_message {
        margin-top: 28px;
        width: 100%; }
      .response__form__input_last {
        margin-right: 0; }
    .response__form__submit {
      background-color: #11749e;
      display: block;
      color: #ffffff;
      padding: 10px 50px;
      text-transform: uppercase;
      font-size: 24px;
      border: 0;
      outline: 0;
      margin: 28px auto; }

.footer {
  background-color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 13px; }
  .footer__inner {
    padding: 40px 0; }

.map {
  height: 333px;
  background-color: #222222; }

@media (min-width: 996px) and (max-width: 1199px) {
  .response__form__input, .response__form__input_message, .response__form__input_last {
    width: 290px;
    margin-right: 25px; }
    .response__form__input_message {
      width: 100%;
      margin-top: 35px; }
    .response__form__input_last {
      width: 290px;
      margin-right: 0; } }

@media (min-width: 768px) and (max-width: 995px) {
  .header__title {
    font-size: 120px;
    width: 100%; }
  .features__backtext, .blog__backtext, .team__backtext, .response__backtext {
    left: 38%; }
  .features__feature {
    padding-bottom: 60px; }
  .blog__backtext, .team__backtext, .response__backtext {
    left: 40%; }
  .blog-item {
    width: 270px; }
  .team {
    padding-bottom: 60px; }
    .team-item__title {
      bottom: 0%;
      left: 27px; }
      .team-item__title p {
        margin-top: -10px; }
  .navbar-nav a::after {
    display: none; }
  .navbar-nav__item {
    margin-left: 10px; }
  .response__form__input, .response__form__input_message, .response__form__input_last {
    width: 217px;
    margin-right: 15px; }
    .response__form__input_message {
      width: 100%;
      margin-top: 15px; }
    .response__form__input_last {
      width: 217px;
      margin-right: 0; } }

@media (min-width: 576px) and (max-width: 767px) {
  .header__title {
    font-size: 72px;
    width: 100%; }
  .features__backtext, .blog__backtext, .team__backtext, .response__backtext {
    left: 37%; }
  .features__feature {
    padding-bottom: 120px; }
  .blog__backtext, .team__backtext, .response__backtext {
    left: 37%; }
  .blog-item {
    width: 100%; }
  .team {
    padding-bottom: 60px; }
    .team-item__title {
      bottom: 0%;
      left: 6vw; }
      .team-item__title p {
        margin-top: -10px; }
  .navbar-nav a::after {
    display: none; }
  .navbar-nav__item {
    padding: 0;
    margin-left: 0;
    height: 80px;
    text-align: center; }
  .response__form__input, .response__form__input_message, .response__form__input_last {
    width: 100%;
    margin-right: 0; }
    .response__form__input_message {
      width: 100%;
      margin-top: 15px; } }

@media (max-width: 575px) {
  .header {
    -webkit-background-size: auto 100vh;
            background-size: auto 100vh; }
    .header__title {
      font-size: 48px;
      width: 100%; }
    .header__desc {
      font-size: 18px;
      width: 100%;
      letter-spacing: normal; }
  .navbar-nav a::after {
    display: none; }
  .navbar-nav__item {
    padding: 0;
    margin-left: 0;
    height: 80px;
    text-align: center;
    font-size: 24px; }
  .features__backtext, .blog__backtext, .team__backtext, .response__backtext {
    display: none; }
  .features__feature {
    padding-bottom: 120px; }
  .blog__backtext, .team__backtext, .response__backtext {
    display: none; }
  .blog-item {
    width: 100%; }
  .team {
    padding-bottom: 60px; }
    .team-item__title {
      display: block;
      position: relative;
      margin-right: 0;
      bottom: 0;
      left: 0;
      width: 100%; }
      .team-item__title p {
        margin-top: -10px; }
    .team-item__image {
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .footer p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    padding-left: 20px; }
  .footer__text {
    width: 100%; }
  .response__form__input, .response__form__input_message, .response__form__input_last {
    width: 100%;
    margin-right: 0; }
    .response__form__input_message {
      width: 100%;
      margin-top: 0; }
    .response__form__input_last {
      width: 100%;
      margin-right: 0; } }
